.filter-section .filters {
    padding-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
}

.categories {
    align-items: center;
    justify-content: center;
}

.filter-section .filters .filterItem {
    border-width: 0!important;
    padding: 5px 8px;
    text-transform: none;
    font-size:13px;
}

.filter-section .filterItem .filter {
    color: #949694;
    padding: 6px 15px!important;
    border-radius: 100px;
    /* transition: .3s background,font-weight ease-in-out; */
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    cursor: pointer;
}

.filter-section .filterItem .filter:hover {
    background-color: #47c9e5!important;
    color: white !important;
    border: 1px solid #47c9e5!important;
    text-decoration: none;
    cursor: pointer;
    
}

.filter-section .filterItem .filterSelected {
    background-color: #47c9e5!important;
    color: white !important;
    border: 1px solid #47c9e5!important;
    text-decoration: none;
    padding: 6px 15px!important;
    border-radius: 100px;
    /* transition: .3s background,font-weight ease-in-out; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* SEARCH SVG  */
.search_bar_container {
    position: relative;
}
.svg_search_shadow {
    z-index: -9;
    opacity: 0.8;
    position: absolute;
    top: -14px;
    left: -1px;
    width: 60px;
}
.svg_search {
    width: 50px;
    margin: 0 15px 0 0;
    transition: all 0.3s ease-in-out;
}

.svg_search:hover {
    opacity: 0.8;
    transform: rotate(10deg);
}

.svg_search_polygon {
    fill: white;
    transition: all 0.3s ease-in-out;
}

.svg_search_path {
    fill: #c5c5c5;
    transition: all 0.3s ease-in-out;
}

.svg_cancel {
    width: 50px;
    display: none;
    margin: 0px 0 0 -10px;
}
.svg_cancel_polygon {
    fill: #c5c5c5;
}

.searchBox {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #46c9e4;
    background: none;
    margin: 0 0px 0 -50px;
    transition: all 0.3s ease-in-out;
}
.searchBox:focus{
    opacity: 1;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    border-radius: 0px;
    background: none;
    padding: 0 0 0 20px;
    margin: 0 0 0 -5px;
}

/* UI POST CARD ELEMENT */

.card-body {
    /* box-shadow: 0px 0px 10px grey; */
    transition: .3s all ease-in-out;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.06);
    text-align: center;
}

.card-title {
    transition: .3s all ease-in-out;
    font-size: 28px;
    margin-top: 12px;
    margin-bottom: 14px;
    line-height: 100%!important;
    text-align: left;
}

.card-text {
    transition: all 0.3s ease-in-out;
    padding-bottom: 28px;
    word-break: break-word;
    text-align: left;
    color: #8d8d8d;
    font-weight: 400;
    font-size: 14px;
}
.card-text:first-child {
    margin-bottom:0;
    padding-bottom:0;
    font-size:12;
    font-style: italic;
}

.card-text:last-child {
    margin-left: -18%;
    margin-right: 92px;
    padding: 19px 0 19px 18%;
    position: relative;
    border-top: 1px solid #ccc;
}
.card-img-top {
    transition: .3s all ease-in-out;
}


.comment-count {
    background-color: #f6f6f6;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: -20px;
    right: -92px;
    padding: 0 17px;
    border-radius: 100px;
    transition: .1s all ease-in-out;
    float: right;
    color: #8d8d8d!important;
}


.card-title a {
    transition: .3s all ease-in-out;
}
.card:hover .card-body {

    box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
    cursor: pointer;
    border: none;
}

.card:hover .card-img-top {

    opacity: 0.9;
    
}

.card:hover .comment-count {
    border: solid 1px #01687c;
    text-decoration:none;
    color: #01687c!important;
    opacity: 0;
}

.card:hover .card-text:last-child {
    border-top-color:  #01687c;
    transform: scale(1.5);
    padding: 10px 0 30px 0;
    margin-left: 13%;
}

.card:hover .card-title a, .card:hover .card-text {
    letter-spacing: 0.2px;
    color: #01687c ;

    
}

.card-columns {
    padding-bottom:50px;
}

.card {
    transition: .3s all ease-in-out;
    margin: 0 15px;
}


.load-more {
    background: #47c9e5;
    width: 25%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0;
    border:0;
}

.load-more:hover {
    opacity: 0.8;
  }
.postList {
    padding: 3rem 0 0 0;
}
.post_mobile {
    display: none;
}

@media (max-width: 760px){
    .load-more { 
        width:50%;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

MOBILE RESPONSIVE 

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 440px) {

    /* NAVBAR START */

    .searchBox:focus{
    width: 200px;
}

    .search_bar_container {
        /* display: none; */
    }

    .filter-section {
        width: 100%;
    }
    

    /* .filter-section .categories .filters .filterItem {
        float: left;
    } */

    /* NAVBAR END */


    /* POSTS START */

    .postList {
    padding: 1rem 0 0 0;
    }

    .post_mobile {
        display: block;
        width: 90%;
        height: 100px;
        margin: 20px auto;
        box-shadow: -10px 4px 30px -10px rgba(0,0,0,.2);
        
    }

    .post_mobile .post_mobile_image_container {
        
        width: 30%;
        height: 85%;
        overflow: hidden;
        float: left;
        padding: 15px;
            
    }

    .post_mobile .post_mobile_image_container .post_mobile_image img {
        width: 150px;
        
    }

    .post_mobile .post_mobile_text_container {
        width: 70%;
        display: block;
        float: left;
        padding: 5px 15px 0 15px;

    }

    .post_mobile .post_mobile_text_container h1 {
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        margin: 0 0 1% 0;
        color: #616161;
       
    }

    .post_mobile .post_mobile_text_container h2 {
        font-size: 10px;
        font-weight: 400;
        font-style: italic;
        text-align: left;
        color: #8d8d8d;
        margin: 5% 0 2% 0;
    }

    .post_mobile_icon, .post_mobile a, .cat {
        color: #8d8d8d !important;
    }


    

    /* POSTS END */

}