.filter-section .filters .filterItem {
    border-width: 0!important;
    padding: 5px 8px;
    text-transform: none;
    font-size:13px;
}

.filter-section .filterItem .filter {
    color: #949694;
    padding: 6px 15px!important;
    border-radius: 100px;
    transition: .3s background,font-weight ease-in-out;
    border: 1px solid #ccc;
    cursor: pointer;
}

.filter-section .filterItem .filter:hover {
    background-color: #47c9e5!important;
    color: white !important;
    border: 1px solid #47c9e5!important;
    text-decoration: none;
    cursor: pointer;
}

.filter-section .filterItem .filterSelected {
    background-color: #47c9e5!important;
    color: white !important;
    border: 1px solid #47c9e5!important;
    text-decoration: none;
    padding: 6px 15px!important;
    border-radius: 100px;
    transition: .3s background,font-weight ease-in-out;
    cursor: pointer;
}