.footerSection{
    background: #2d2d2d;
    padding: 50px 0px;
}

.footer-logo{
    display: inline-block;
    overflow: hidden;
    padding-right: 30px;
    border-right: 1px solid #cbcbcb;
}

.footer-logo-image{
    height: 100px;
}

.footer-text{
    display: inline-block;
    text-align: left;
    padding-left: 40px;
    vertical-align: top;
    color: #cbcbcb!important;
    padding-top: 15px;
    font-size: 14px;
}

.footer-text-mobile {
    display: none;
    text-align: left;
    padding-left: 40px;
    vertical-align: top;
    color: #cbcbcb!important;
    padding-top: 15px;
    font-size: 14px;
}


.backToTop {
    position: fixed;
    bottom: 120px;
    right: 30px;
    opacity: 1;
    transition: .3s all ease;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    z-index: 999;
}

.svg_shadow {
    position: fixed;
    bottom: 109px;
    right: 22px;
    transition: .3s all ease-in-out;
    width: 60px;
    height: 60px;
    z-index: 10;
}


@media (max-width: 760px){
    .footerSection {
        padding:35px 0;
    }
    .footerSection .container {
        text-align: left;
        /* padding: 0 20px; */
    }
    
    .footer-logo {
        border-bottom: 1px solid #cbcbcb;
    /* text-align: left; */
    padding-bottom: 10px;
    border-right:0;
    padding-right: 0;
    }

    .footer-text {
        display: none;
    }


    .footer-text-mobile {
        padding-left:0;
        padding-top:0;
        display: inline-block;
    }
    
    }